# Sources
crystal-remix-icon-theme-color-variants/
darkman/
avizo/

# pycache
.config/matugen/__pycache__/
.config/quickshell/scripts/__pycache__/

# Generated config
.config/hypr/colors.lua
.config/hypr/hyprlock-colors.conf
.config/kitty/colors.conf
.config/rofi/colors.rasi
.config/waybar/colors.css

# Go
rcm/rcm

# HyprCapture
HyprCapture/
