# Sources
crystal-remix-icon-theme-color-variants/
darkman/

# Generated config
.config/hypr/colors.lua
.config/kitty/colors.conf
.config/rofi/colors.rasi
.config/waybar/colors.css

# Go
rcm/rcm

# HyprCapture
HyprCapture/
