@import url("colors.css");

* {
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 15px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: alpha(@primary_container, 0.2);
    color: @primary_fixed;
    border-style: solid;
    border-width: 1px;
    border-color: alpha(@primary_container, 0.25);
    border-top-color: alpha(@primary_container, 0.4);
    border-radius: 28px;
}

window#waybar > box {
    padding: 0 8px;
}

#custom-os,
#custom-runcat,
#custom-net,
#battery,
#clock,
.slide-clock,
#tray {
    color: @primary_fixed;
    background-color: transparent;
    padding: 0 4px;
    border-radius: 20px;
    text-shadow: 0 1px 2px alpha(@shadow, 0.3);
}

#custom-os,
#custom-runcat {
    min-width: 28px;
    min-height: 28px;
    padding: 0 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    font-size: 0;
}

#custom-os {
    margin-left: -8px;
    color: transparent;
    text-shadow: none;
}

#custom-os.arch {
    background-image: url("icons/os/arch.svg");
}

#custom-os.opensuse {
    background-image: url("icons/os/opensuse.svg");
}

#custom-os.linux {
    background-image: url("icons/os/linux.svg");
}

#custom-runcat.idle {
    background-image: url("icons/runcat/idle/sprite-0-symbolic.svg");
}

#custom-runcat.frame-0 {
    background-image: url("icons/runcat/active/sprite-0-symbolic.svg");
}

#custom-runcat.frame-1 {
    background-image: url("icons/runcat/active/sprite-1-symbolic.svg");
}

#custom-runcat.frame-2 {
    background-image: url("icons/runcat/active/sprite-2-symbolic.svg");
}

#custom-runcat.frame-3 {
    background-image: url("icons/runcat/active/sprite-3-symbolic.svg");
}

#custom-runcat.frame-4 {
    background-image: url("icons/runcat/active/sprite-4-symbolic.svg");
}

#battery {
    margin-right: 5px;
}

#custom-net,
#battery {
    font-size: 18px;
    padding: 0 6px;
}

.slide-workspace {
    color: @primary_fixed;
    background-color: alpha(@primary_container, 0.15);
    border: 1px solid alpha(@primary_container, 0.5);
    border-radius: 4px;
    padding: 0 5px;
    margin: 4px 4px;
    min-height: 0;
    text-shadow: 0 1px 2px alpha(@shadow, 0.3);
}

#battery,
#battery.charging,
#battery.warning,
#battery.critical,
#battery.full,
#battery.plugged {
    color: @primary_fixed;
    background-color: transparent;
}

#battery:hover,
#battery.charging:hover,
#battery.warning:hover,
#battery.critical:hover,
#battery.full:hover,
#battery.plugged:hover {
    background-color: alpha(@surface, 0.1);
}

#clock,
.slide-clock {
    padding: 0 8px;
}
